<main class="p-4" *ngIf="pokemonState$ | async as pokemonState; else loading">
  <!-- <app-generation-selection></app-generation-selection> -->
  <article class="grid gap-4 md:grid-cols-2 grid-cols-1 lg:grid-cols-4">
    <app-pokemon-card
      *ngFor="let summary of pokemonState.pokemon"
      [pokemonSummary]="summary"
    ></app-pokemon-card>
  </article>
  <app-paginator
    [pageIndex]="pokemonState.currentPage"
    [totalNumOfPages]="pokemonState.totalNumPages"
    [previousPageUrl]="pokemonState.previousPageUrl"
    [nextPageUrl]="pokemonState.nextPageUrl"
    (paginationChange)="onPaginationChange($event)"
  ></app-paginator>
</main>
<ng-template #loading> Loading... </ng-template>
